<!doctype html>
<html ng-app>
<head>
    <script src="http://code.angularjs.org/angular-1.0.0rc10.min.js"></script>
    <link href="css/ex.css" rel="stylesheet"/>
</head>
<body data-ng-init="fooditems=[{ food: 'espresso', price: 3.00},
                               { food: 'cappuccino', price: 3.95},
                               { food: 'macchiato', price: 2.50},
                               { food: 'americano', price: 2.50},
                               { food: 'mocha', price: 4.00},
                               { food: 'latte', price: 3.50},
                               { food: 'double frap mocha latte with soy', price: 6.00},
                               { food: 'scone' , price: 4.50}]">
<div>
    <h1>Marcello's Cafe</h1>

    <label>Filter:</label>
    <input type="text" data-ng-model="menuitemname" placeholder="Filter the menu">
    <hr>
    <p>

    <ul>
        <li data-ng-repeat="foodName in fooditems | filter:menuitemname  ">{{ foodName.food | uppercase }} {{ foodName.price | currency }}</li>
    </ul>

    </p>

</div>
</body>
</html>